

body {
    font-family: Arial, sans-serif;
    background-color: orangered;
    margin: 20px;
    padding: 0;
}


.library {
    display: grid;
    grid-template-columns:30vw;
    grid-template-rows: auto;
}


.bookList {
    display: grid;
    list-style-type: none;;
    width: 80%;
    margin: auto;
    overflow: hidden;
}


.book-card {
    border: 1px solid black;
    border-radius: 5%;
    background-color: white;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}